<div id="app-page-login">
    <app-header-simple></app-header-simple>
    <main id="main-login">
        <div id="main-login-content">
            <mat-card id="login-container" appearance="raised">
                <h1>Anmeldung</h1>
                <p>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest</p>
                <form class="form-login">
                    <mat-form-field class="width-100 std-form-field">
                        <mat-label>Email</mat-label>
                        <mat-icon matPrefix>email</mat-icon>
                        <input type="email" matInput placeholder="beispielname@email.de">
                    </mat-form-field>
                    <mat-form-field class="width-100 std-form-field">
                        <mat-label>PW</mat-label>
                        <mat-icon matPrefix>lock</mat-icon>
                        <input type="password" matInput placeholder="">
                    </mat-form-field>
                    <div class="action-links-container-login">
                        <a href="#">Passwort vergessen?</a>
                        <a href="#">Konto erstellen</a>
                    </div>
                    <div class="google-container-login">
                        <p>ODER</p>
                        <a href="#">Anmelden mit Google</a>
                    </div>
                    <div class="confirm-container-login">
                        <button mat-flat-button color="primary">Anmelden</button>
                        <button mat-stroked-button>Gäste-Login</button>
                    </div>
                </form>
            </mat-card>
        </div>
    </main>
    <app-footer-simple></app-footer-simple>
</div>