<div id="app-page-login">
    <app-header-simple></app-header-simple>
    <main id="main-login">
        <div id="main-login-content" class="content-limit">
            <mat-card id="login-container" appearance="raised">
                <h1>Anmeldung</h1>
                <p>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest</p>
                <form class="form-login">
                    <div class="form-fields">
                        <mat-form-field class="width-100 std-form-field">
                            <mat-label>Email</mat-label>
                            <mat-icon matPrefix>email</mat-icon>
                            <input type="email" matInput placeholder="beispielname@email.de" required>
                        </mat-form-field>
                        <mat-form-field class="width-100 std-form-field">
                            <mat-label>PW</mat-label>
                            <mat-icon matPrefix>lock</mat-icon>
                            <input type="password" matInput placeholder="" required>
                        </mat-form-field>
                    </div>
                    <div class="action-links-container-login">
                        <a class="action-link" href="#">Passwort vergessen?</a>
                        <a class="action-link" href="#">Konto erstellen</a>
                    </div>
                    <div class="google-container-login">
                        <div class="horizontal-seperator-container width-100">
                            <div class="horizontal-seperator"></div>
                            <p>ODER</p>
                            <div class="horizontal-seperator"></div>
                        </div>
                        <div class="google-auth-link-container width-100">
                            <img src="./assets/icons/Google.svg" alt="google icon">
                            <a class="google-auth-link" href="#">Anmelden mit Google</a>
                        </div>
                    </div>
                    <div class="confirm-container-login">
                        <button mat-flat-button class="primaryBtn" color="primary">Anmelden</button>
                        <button mat-stroked-button class="secondaryBtn">Gäste-Login</button>
                    </div>
                </form>
            </mat-card>
        </div>
    </main>
    <app-footer-simple></app-footer-simple>
</div>