@import './../../../styles.scss';

#app-page-login{
    min-height: 100svh;
    @include setFlex($fd:column, $jc:space-between, $ai:stretch);
}

#main-login{
    @include setFlex();
    padding: 8px;
}

#login-container{
    width: clamp(280px, 100%, 600px);
    @include setFlex($fd:column, $jc:space-between, $ai:stretch, $gap:24px);
    h1,p{
        text-align: center;
    }
}

.action-links-container-login{
    @include setFlex($gap: 16px);
}

.google-container-login{
    @include setFlex($fd:column)
}

.confirm-container-login{
    @include setFlex($gap:16px)
}
