@import './../../../styles.scss';

#app-page-login{
    min-height: 100svh;
    @include setFlex($fd:column, $jc:space-between, $ai:stretch);
}

#main-login{
    @include setFlex();
}

#login-container{
    max-width: 600px;
    @include setFlex($fd:column, $jc:space-between, $ai:stretch, $gap:24px);
    h1,p{
        text-align: center;
    }
}
