<app-header-simple></app-header-simple>
<main id="main-login">
    <div id="main-login-content">
        <mat-card id="login-container" appearance="raised">
            <h1>Anmeldung</h1>
            <p>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest</p>
            <form class="form-login">
                <mat-form-field class="width-100 std-form-field">
                    <mat-label>Telephone</mat-label>
                    <mat-icon matPrefix>mode_edit</mat-icon>
                    <input type="tel" matInput placeholder="555-555-1234">
                </mat-form-field>
            </form>
        </mat-card>
    </div>
</main>
<app-footer-simple></app-footer-simple>