@import './../../../styles.scss';

#app-page-homepage{
    min-height: 100svh;
    @include setFlex($fd:column, $jc:space-between, $ai:stretch);
    background-color: $clrHighlight1;
}

.main-homepage-content{
    flex: 1;
    @include setFlex($ai:stretch);
}

app-conversation-list{
    flex: 2;
}

app-conversation-view{
    flex: 3.5;
}

app-thread-detail{
    flex: 1.5;
}