// ########################################################### Standard's ###########################################################
$stdTransition: all 125ms ease-in-out;

// ########################################################### Colors's ###########################################################
$clrBaseBright: #ffffff;
$clrBaseDark: #0e1013;
$clrHighlight1: #eceefe;
$clrHighlight2: #444df2;
$clrHighlight2Brighter1: #797EF3;
$clrHighlight2Brighter2: #535AF1;
$clrHighlight3: #92c83e;
$clrBaseGrey:#686868;

// ########################################################### Colors's ###########################################################
$font-family-base: "Nunito",Roboto, "Helvetica Neue", sans-serif; 