// ########################################################### Standard's ###########################################################
$stdTransition: all 125ms ease-in-out;

// ########################################################### Colors's ###########################################################
$clrBaseBright: #ffffff;
$clrBaseDark: #0e1013;
$clrHighlight1: #eceefe;
$clrHighlight2: #444df2;
$clrHighlight3: #92c83e;
$clrBaseGrey:#686868;