// ########################################################### Standard's ###########################################################
$stdTransition: all 125ms ease-in-out;
$stdBoxShadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
$stdHeightInput: 60px;
$stdRadiusInput: 100px;
$stdRadiusCard: 30px;
$stdRadiusCard: 32px;


// ########################################################### Colors's ###########################################################
$clrBaseBright: #ffffff;
$clrBaseDark: #0e1013;
$clrBaseDarkTransparent02: rgba(14, 16, 19, 0.2);
$clrHighlight1: #eceefe;
$clrHighlight2: #444df2;
$clrHighlight2Brighter1: #797EF3;
$clrHighlight2Brighter2: #535AF1;
$clrHighlight3: #92c83e;
$clrBaseGrey:#686868;

// ########################################################### Font's ###########################################################
$font-family-base: "Nunito",Roboto, "Helvetica Neue", sans-serif; 

$fsDefault: 18px;
$fsSecondary: 16px;
$fsTertiary: 14px;
$fsH1: 46px;

$fsMobileDefault: 16px;
$fsMobileSecondary: 14px;
$fsMobileTertiary: 12px;
$fsMobileH1: 42px;