@import './variables';

// Standard Card
.mat-mdc-card.mdc-card{
    border-radius: 30px;
    padding: 60px;
}

// Standard Input - general + hover => to use set class="std-form-field" at <mat-form-field>-Element
.std-form-field
{
    .mdc-text-field--filled.mat-mdc-text-field-wrapper.mdc-text-field{
        background-color: $clrHighlight1;
        border: 1px solid transparent;

        &:hover{
            border: 1px solid $clrBaseDark !important;
        }
    }

    .mdc-text-field{
        border-radius: 100px;
        
        .mat-mdc-form-field-flex{
            padding-left: 8px;
        }
    }
    
    .mdc-line-ripple {
        display: none;
      }
} 

// Standard Input - focused/active
.std-form-field.mat-focused {
    .mdc-text-field--filled.mat-mdc-text-field-wrapper.mdc-text-field{
        border: 1px solid $clrHighlight2 !important;
    }
}

// BTN's
.primaryBtn, .secondaryBtn{
    border-radius: 25px;
    padding: 12px 25px
}

.primaryBtn{
    background-color: $clrHighlight2;
    color: $clrBaseBright;

    &:hover{
        background-color: $clrHighlight2Brighter1;
    }
}

.secondaryBtn.mat-mdc-outlined-button:not(:disabled){
    background-color: $clrBaseBright;
    color: $clrHighlight2;
    border: 1px solid $clrHighlight2;

    &:hover{
        background-color: $clrHighlight2Brighter2;
        color: $clrBaseBright;
    }

    &:active{
        background-color: $clrHighlight2;
        color: $clrBaseBright;
    }
}
