<div id="app-page-signup">
    <app-header-simple></app-header-simple>
    <main id="main-signup">
        <div id="main-signup-content" class="content-limit">
            <mat-card id="signup-container" appearance="raised">
                <form id="form-signup" class="form-signup" (ngSubmit)="onSubmit(formSignup)" #formSignup="ngForm">
                    <div class="signup-contact-data-container" [ngClass]="{'d_none':isSignupStep!=1}">
                        <a routerLink="/login">back</a>
                        <h1>Konto erstellen</h1>
                        <p>Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto.</p>
                        <div class="form-fields">
                            <div class="form-fields-name">
                                <mat-form-field class="width-100 std-form-field">
                                    <mat-label>Vorname</mat-label>
                                    <mat-icon matPrefix>person</mat-icon>
                                    <input type="text" matInput name="firstName" [(ngModel)]="userToSignup.firstName"
                                        #firstNameInput="ngModel" placeholder="Max" required>
                                    @if (firstNameInput.invalid && (firstNameInput.dirty || firstNameInput.touched)) {
                                    <mat-error>
                                        Bitte gib einen Vornamen ein.
                                    </mat-error>
                                    }
                                </mat-form-field>
                                <mat-form-field class="width-100 std-form-field">
                                    <mat-label>Nachname</mat-label>
                                    <mat-icon matPrefix>person</mat-icon>
                                    <input type="text" matInput name="lastName" [(ngModel)]="userToSignup.lastName"
                                        #lastNameInput="ngModel" placeholder="Mustermann" required>
                                    @if (lastNameInput.invalid && (lastNameInput.dirty || lastNameInput.touched)) {
                                    <mat-error>
                                        Bitte gib einen Nachnamen ein.
                                    </mat-error>
                                    }
                                </mat-form-field>
                            </div>
                            <mat-form-field class="width-100 std-form-field">
                                <mat-label>Email</mat-label>
                                <mat-icon matPrefix>email</mat-icon>
                                <input type="email" matInput name="email" [(ngModel)]="userToSignup.email"
                                    #emailInput="ngModel" placeholder="beispielname@email.de" required
                                    pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
                                @if (emailInput.invalid && (emailInput.dirty || emailInput.touched)) {
                                <mat-error>
                                    Bitte gib eine gültige E-Mail-Adresse ein.
                                </mat-error>
                                }
                            </mat-form-field>
                            <mat-form-field class="width-100 std-form-field">
                                <mat-label>Passwort</mat-label>
                                <mat-icon matPrefix>lock</mat-icon>
                                <input type="password" matInput name="password" [(ngModel)]="password"
                                    #passwordInput="ngModel" placeholder="" required pattern=".{6,}">
                                @if (passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)) {
                                <mat-error>
                                    @if (passwordInput.errors?.['pattern']) {
                                    Bitte gib ein gültiges Passwort ein (Min. 6 Zeichen).
                                    }
                                    @if (passwordInput.errors?.['mismatch']) {
                                    Ihre Passwörter müssen übereinstimmen.
                                    }
                                </mat-error>
                                }
                            </mat-form-field>
                            <mat-form-field class="width-100 std-form-field">
                                <mat-label>Passwort Wiederholung</mat-label>
                                <mat-icon matPrefix>lock</mat-icon>
                                <input type="password" matInput name="passwordRepeat" [(ngModel)]="passwordRepeat"
                                    #passwordRepeatInput="ngModel" placeholder="" required pattern=".{6,}">
                                @if (passwordRepeatInput.invalid && (passwordRepeatInput.dirty ||
                                passwordRepeatInput.touched)) {
                                <mat-error>
                                    @if (passwordRepeatInput.errors?.['pattern']) {
                                    Bitte gib ein gültiges Passwort ein (Min. 6 Zeichen).
                                    }
                                    @if (passwordRepeatInput.errors?.['mismatch']) {
                                    Ihre Passwörter müssen übereinstimmen.
                                    }
                                </mat-error>
                                }
                            </mat-form-field>
                        </div>
                        <div class="confirm-container-login">
                            <p>Schritt: 1/2</p>
                            <button mat-flat-button class="primaryBtn" color="primary" type="submit"
                                value="confirmContactData" (click)="confirmContactData(formSignup)">Weiter</button>
                        </div>
                    </div>
                    <div class="signup-contact-avatar-container" [ngClass]="{'d_none':isSignupStep!=2}">
                        <a (click)="setPreviousSignupStep()">back</a>
                        <h1>Wähle deinen Avatar</h1>
                        <div class="selected-avatar">
                            <img src="./assets/img/character{{selectedAvatar}}.svg" alt="character">
                        </div>
                        <p class="full-name">{{userToSignup.fullName}}</p>
                        <p class="text-avatar">Aus der Liste wählen</p>
                        <div class="select-avatar-container">
                            <div class="select-avatar" (click)="setSelectedAvatarTo(1)">
                                <img src="./assets/img/character1.svg" alt="character1">
                            </div>
                            <div class="select-avatar" (click)="setSelectedAvatarTo(2)">
                                <img src="./assets/img/character2.svg" alt="character2">
                            </div>
                            <div class="select-avatar" (click)="setSelectedAvatarTo(3)">
                                <img src="./assets/img/character3.svg" alt="character3">
                            </div>
                            <div class="select-avatar" (click)="setSelectedAvatarTo(4)">
                                <img src="./assets/img/character4.svg" alt="character4">
                            </div>
                            <div class="select-avatar" (click)="setSelectedAvatarTo(5)">
                                <img src="./assets/img/character5.svg" alt="character5">
                            </div>
                            <div class="select-avatar" (click)="setSelectedAvatarTo(6)">
                                <img src="./assets/img/character6.svg" alt="character6">
                            </div>
                        </div>
                        <div class="confirm-container-login">
                            <p>Schritt: 2/2</p>
                            <button mat-flat-button class="primaryBtn" color="primary" type="button"
                                value="confirmSignup" (click)="saveUser()">Save User</button>
                        </div>
                    </div>
                </form>
            </mat-card>
        </div>
    </main>
    <app-footer-simple></app-footer-simple>
</div>